body {
    background-color: #0c1a2c;
}

.bloco-maior {
    background-color: #0c192c;
    width: 378px;
    height: 550px;
    margin: auto;
    margin-top: 5%;
    border-radius: 35px;
    display: relative;

}

.bloco-medio {
    background-color: #0d1629;
    width: 300px;
    height: 450px;
    margin: 39%;
    margin-top: 5%;
    margin-bottom: 20%;
    border-radius: 16px;

    margin-top: -63%;
    margin-left: 29%;
    width: 333px;
    height: -1%;
    display: relative;

}

.bloco-menor {
    background-color: #14263f;
    width: 300px;
    height: 450px;
    margin: 39%;
    margin-top: 5%;
    margin-bottom: 20%;
    border-radius: 8px;

    margin-top: -79%;
    margin-left: 31%;
    width: 304px;
    height: 449px;
    display: block;

}

.titulo-bloco-medio {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: #dce7eb;
    margin-top: 85%;
    margin-left: 6%;

    display: inline-block;
}

.descricao-bloco-medio {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: #dce7eb;
    margin-top: 9%;
    margin-left: 6%;
    display: inline-block;
}

.rodape-bloco-medio1 {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: #2afcf8;
    margin-top: -63%;
    margin-left: 14%;
    display: block;

}

.icone1 {
    width: 10px;
    margin-left: 8%;
    margin-top: -5%;
    size: 5px;
    display: block;
}

.rodape-bloco-medio2 {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: #8aa5d1;
    margin-top: -5%;
    margin-left: 69%;
    display: block;

}

.icone2 {
    width: 12px;
    margin-left: 64%;
    margin-top: -4%;
    size: 5px;
    display: block;
}

.bloco-mini-foto {
    background-color: #faefdc;
    width: 35px;
    height: 33px;
    margin: 55%;
    margin-top: 1%;
    margin-bottom: 37%;
    margin-left: 7%;
    border-radius: 40px;
    display: inline-block;

}

.mini-foto {
    width: 31px;
    height: 31px;
    margin: 46%;
    margin-top: 5%;
    margin-bottom: 38%;
    margin-left: 6%;
    border-radius: 6px;
    display: inline-block;

}

.nome-rodape {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: #92a9c7;
    margin-left: 23%;
    margin-top: 13%;

}

hr {
    margin-top: 20%;

}

.bloco-foto {
    background-color: blue;
    width: 271px;
    height: 220px;
    margin: 55%;
    margin-top: -73%;
    margin-bottom: 37%;
    margin-left: 33%;
    border-radius: 8px;
    display: relative;

}

.foto {
    width: 271px;
    height: 220px;
    margin: 55%;
    margin-top: -73%;
    margin-bottom: 37%;
    margin-left: 0%;
    border-radius: 6px;
    display: block;

}
